.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.listItem {
  background-color:white;
  margin: 1%;
  border: solid 1px gray;
  /* height: 40px; */
}

.ulCommitList {
  list-style-type: none;
}

.commitFeed {
  background-color: #E8E8E8;
  /* height: 100vh; */

}

.results {
  /* margin-left: 50%; */
  margin: auto;
  width: 70%;
}

span{
  display: inline-flex;
  width: 28%;
  text-align: justify;
  margin-left: 3%;
}

.desciption {
  text-align: justify;
  margin: auto;
  width: 70%;
  padding-bottom: 1%;
}

.formContainer{
  margin-bottom: 10%;
  height: 300px;
  align-items: flex-start;
  margin: auto;
  width: 50%;
}

.searchBtn{
  margin-top: 30px;
}

.searchForm{
  margin-top: 30%;
  /* background-color: lawngreen; */
  align-items: justify;
}

label{
  display: inline-block;
  /* float: left; */
  /* clear: left; */
  width: 250px;
  text-align: left;
  /* margin-right: 1%; */
  margin-bottom: 5%;
}
